@CHARSET "UTF-8";

h1 {
    text-align: center;
}

#validation {
	text-align: center;
}

#validation_message {
	color: red;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
}

.form_area {
    width: auto;
    list-style: none;
}

label,.form_detail {
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}
.form_detail {
    border-bottom: solid 1px #000;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
    font-size: 19px;
}

.form_top {
    border: solid 1px #000;
}

label {
    width: 140px;
    height: 35px;
    background-color: #d4e1f5;
    border-right: solid 1px #000;
}

.input_width {
	width: 150px;
}

.status_width {
	width: 156px;
}

input,select {
	border :1px solid;
	border-radius: 4px;
	font-size :19px;
	margin-left: 8px;
}

.button {
    text-align: center;
    margin-top: 20px;
}

button {
	width: 115px;
	margin: 0 40px;
	font-size: 19px;
}